body{
    font-size: 18px;
    line-height: 1.5;
}
header, nav, main, footer{
    margin: 1.25rem auto;
    max-width:760px;
    font-family:"Comic Sans MS", cursive, sans-serif;

}
header {
    background-color: teal;
    color: white;
    text-align:center;
    padding: 20px;
    border-radius: 25px;
    
}
img{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}
footer {
    background-color: teal;
    color:white;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    
}
