body {
    background-color: #e3e3e3;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height:1.5;
}
header{
    background-color:#afc7b2;

}
section {
    margin: 1.5rem auto;
    border:2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 40px 0 #6abed4;
}
h1{
    font-size: 3rem;
    border-bottom:5px solid black;
margin-bottom: -1.4rem;
}
h2{
    background:#6abed4;
    color: white;
    text-align: center;
    padding: 1rem;@media only screen and (min-width: 32.5em) {
        main{
            grid-template-columns: 1fr 1fr;
        }
        
        
}
h3{
    height:5rem;
}
