@media only screen and (min-width: 64em) {
    
    main{
        max-width: 64rem;
        
    }
    footer{
        max-width:64rem;
    }
    table{
        display: table;
    }
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pic:hover{
        box-shadow: 5px 10px 18px teal;
    }
}