
nav {
    max-width:100%;
    background-color:#d2fdff;
    color: white;
    border-radius:10px;
    box-shadow: 0 0 40px 0 #d2fdff;
    text-align:center;
    border-radius: 10px;
    border: solid black;
    
}
nav ul{
    
    list-style-type: none;
    margin: -20;
    overflow: hidden;
    
    
    
}
nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
    
}
nav a:hover{
    background-color:blue;
    color:white;
    
}



img{
    width:25%;
}
p{
    
    padding: 2px;
    
}
main{
    
    max-width: 100%;
     
}
body {
    
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    
}
header, footer{
    
    border-radius:10px;
    background-color: #0000ff;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 40px 0 white;
    color: white;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
    border: solid black;
}
.HF, .body{
    border: 2px solid black;
    padding:15px;
     border-radius:10px;
     background-color:white;
}
.HF{
    font-family: "New Tegomin", sans-serif;
}
.body{
    font-family: "Montserrat", sans-serif;
}
h1{ 
    font-size: 5rem;
    text-align:center;
    color: white;
    background-color: blue;
    font-family: "New Tegomin", sans-serif;
}   


h2{ font-size: 1.5rem;
    text-align: left;
    font-family: "New Tegomin", sans-serif;
   
}
h3{
    height: 3rem;
    color: black;
    text-align: left;
    padding: 2px;
    margin-top: 20px; 
   }

   h4{
    height:3rem;
    text-align:left;
    color:white;
    
}

 
.primary, .secondary, .accent1, .accent2 {
    padding:15px;
    border-radius:10px;
    

}
.primary,.Header, .Footer {
    background-color: #0000ff;
    color:white;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.secondary, .Main{
    background-color:#d2fdff;
   border: 2px solid black;
   padding:15px;
    border-radius:10px;

    
}
.accent1,.H1, .H4, .Hover{
    background-color:#ffffff;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.accent2,.H2, .H3{
    background-color:#000000;
    color:white;
    padding:15px;
    border-radius:10px;
}

.colors, .typography{
    width:100%;
    text-align: center;
    
}