.navigation{
    list-style: none;
    padding:0;
}
.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}
.navigation a{
    display:block;
    padding: 0.75rem;
    text-align: left;
    text-decoration:none;
    color:black;
    font-weight: 700;
}
.navigation a:hover{
color: white;
background-color: #008080;
}
.responsive li {
    display: block;
}
nav {
    max-width:100%;
    background-color:#d2fdff;
    color: white;
    border-radius:10px;
    box-shadow: 0 0 40px 0 #d2fdff;
    text-align:center;
    border: solid black;
    
}
nav ul{
    
    list-style-type: none;
    margin: -20;
    overflow: hidden;
    
    
    
}
nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
    
}
nav a:hover{
    background-color:blue;
    color:white;
    border-radius:10px;
}



.hero-pic img{
    max-width: 100%;

}

p{
    
    padding: 2px;
    
}
main{
    
    max-width: 100%;
     
}
body {
    
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    background-color: #0000ff;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 40px 0 blue;
    color: white;
    max-width: 100%;
    font-family: "New Tegomin", sans-serif;
    border: solid black;
}
header{
    padding: 0px 0px 50px 0px;
}
.headings{
    display:flex;
    flex-direction: column;
}
header img{
    max-width: 100px;
    
}
.HF, .body{
    border: 2px solid black;
    padding:15px;
     border-radius:10px;
     background-color:white;
}
.HF{
    font-family: "New Tegomin", sans-serif;
}
.body{
    font-family: "Montserrat", sans-serif;
}
h1{ 
    font-size: 5rem;
    text-align:center;
    color: white;
    background-color: blue;
    font-family: "New Tegomin", sans-serif;
}   


h2{ font-size: 1.5rem;
    text-align: left;
    font-family: "New Tegomin", sans-serif;
   
}
h3{
    height: 3rem;
    color: black;
    text-align: left;
    padding: 2px;
    margin-top: 20px; 
   }

   h4{
    height:3rem;
    text-align:left;
    color:white;
    
}

 
.primary, .secondary, .accent1, .accent2 {
    padding:15px;
    border-radius:10px;
    

}
.primary,.Header, .Footer {
    background-color: #0000ff;
    color:white;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.secondary, .Main{
    background-color:#d2fdff;
   border: 2px solid black;
   padding:15px;
    border-radius:10px;

    
}
.accent1,.H1, .H4, .Hover{
    background-color:#ffffff;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.accent2,.H2, .H3{
    background-color:#000000;
    color:white;
    padding:15px;
    border-radius:10px;
}

.colors, .typography{
    width:100%;
    text-align: center;
    
}
form fieldset{
    margin: 2rem 0;
    border: 2px solid Blue;
    box-shadow: 0 0 40px 0 blue;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: Blue;
    margin: 0 1rem;
    padding: 0 .5rem;

}
form label.top, form div {
    display: block;
    padding-top: 1em;
    color: black;
    font-size: 1rem;
}
form label.top input, form label.top select {
    -webkit-apperance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    
    width: 100%;
    max-width: 20rem;
    background-color:#d2fdff;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    
}
form input.submitBtn {
border: solid black;
background-color: blue;
color: white;
border-radius: 1rem;
padding: .75rem 1.5rem;
margin: 0 0 2rem 2%;
width: 96%;
max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;

}
form label.top input:required:valid{
    border-left: green solid 6px;

}
textarea {
    height: 5rem;
    padding-top: 1rem;
    background-color:#d2fdff;
}
.motto {
    color:white;
    font-size: 28px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    
}
.cards img {
    box-shadow: 5px 5px 5px black;
}
.cards h2, .cards h3, .cards h4, .cards p{
    color:#d2fdff;
    text-align:center;
}

section {
    background-color: Blue;
    padding:2px;
    box-shadow: Blue;
    margin: 4px;
    text-align: center;
    
}
section p {
    font-size: 16px;
}