@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

table{
    margin:auto;
    background-color: #e7ffed;
    box-shadow: 5px 5px 10px 2px #628ca6;
    border-collapse: collapse;

}
table, th, td{
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    padding: 5px;
    border:1px solid lightgray;
}


caption{
    text-align: center;
    background-color: #7fb9c2;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;

}
th{
    color: white;
    background-color: #628ca6;
}
tr{
    background-color: #e7f0ed;
}
tr:nth-child(odd){
    background-color: #e7ffed;
}
tfoot td{
    background-color: #7fb9c2;
    font-size:10px;
    
}
.under{
    color:white;
    background-color: #628ca6;

}