header, footer{
    background-color: teal;
    color:#FFFFFF;
    padding: 5px 0; 
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: "Roboto", sans-serif;
  
}

header img {
    width: 80px;
    height: auto;
    
}
.headings{
    display: flex;
    flex-direction:column;
}
body{
    font-family: "Montserrat", sans-serif;
}    
nav{
    margin:0 auto;
    width: 100%;
    background-color: #ffffff; 
    
      
}
.navigation{
    list-style: none;
    padding:0;
}
.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}
.navigation a{
    display:block;
    padding: 0.75rem;
    text-align: left;
    text-decoration:none;
    color:black;
    font-weight: 700;
}
.navigation a:hover{
color: white;
background-color: #008080;
}
.responsive li {
    display: block;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4, h5, h6{
    text-align: center;
    font-size: 35px;
}
.cbox{
    border: 1px dotted black;
    padding: 20px;
    background-color: #e3e3e3;
    width: 100%;
    text-align: left;
    color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    color: teal;
    
}
header, nav, main, footer {
    margin: auto;
    padding: 10px;
    width: 100%;

}
#byuilink{
    color: white;
}
footer{
    text-align:center;
}
.hero-image{
    position: relative;
    width:100%;
}
p{
    color: black;
    text-align: left;
    font-size: 14px;
    
}
.sunset{
    position: relative;
    width: 100%;
}
.hero-summary{
    
    position:relative;
    
}

table{
    display: none;
}
.forcast td, .forcast th{
border: 2px solid teal;
padding: 8px;
background-color:white;
text-align: center;
color: black;
}
.forcast-table{
    width: 100%;
    padding-bottom: 50px;
}
.article {
    border: 2px solid teal;
    padding: 1.5rem;
    background-color: #e3e3e3;
    
}

.trout{
    width: 40%;
    border-radius: 25px;
    float: right;
    padding: 5px;

}
.map{
    float: left;
    padding-right:15px;
}
.active{
    background-color: #e3e3e3;
    color: black;

    
}
.social{
    text-align: right;
    
}
.contact{
    border: 2px solid teal;
    padding: 1.5rem;
    margin-top: 10px;
    background-color: #e3e3e3;
    
}
.sun{
    display: block;
    width: 100%;
    height: auto;
}
)