@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    main{
        max-width: 30rem;
    }
    footer{
        max-width: 40rem;
    }
    .summary{
        display: block;
        position: absolute;
        top: 30px;
        right:60px;
        padding: 10px;
        background-color: white;
        opacity: .8;
    }
    table{
        display: table;
    }
    .forcast {
        display: block;
        
    }
}