
nav {
    max-width:100%;
    background-color:#008080;
    color: white;
    border-radius:10px;
    box-shadow: 0 0 40px 0 #008080;
    text-align:center;
}
nav ul{
    
    list-style-type: none;
    margin: -20;
    overflow: hidden;
    
    
    
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
    
}
nav a:hover{
    background-color:white;
    color:teal;
}



img{
    width:25%;
}
p{
    
    padding: 2px;
    
}
main{
    
    max-width: 100%;
     
}
body {
    
    background-color: #e3e3e3;
    font-family: "Montserrat", sans-serif;
    
}
header, footer{
    
    border-radius:10px;
    background-color: #008080;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 40px 0 #008080;
    color: white;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
}
.HF, .body{
    border: 2px solid black;
    padding:15px;
     border-radius:10px;
     background-color:white;
}
.HF{
    font-family: "Roboto", sans-serif;
}
.body{
    font-family: "Montserrat", sans-serif;
}
h1{ 
    font-size: 5rem;
    text-align:center;
    color: white;
}   


h2{ font-size: 1.5rem;
    text-align: left;
    
   
}
h3{
    height: 3rem;
    color: black;
    text-align: left;
    padding: 2px;
    margin-top: 20px; 
   }

   h4{
    height:3rem;
    text-align:left;
    color:white;
    
}
    
.primary, .secondary, .accent1, .accent2 {
    padding:15px;
    border-radius:10px;
    

}
.primary,.Header, .Footer {
    background-color: #008080;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.secondary, .Main{
    background-color:#E3E3E3;
   border: 2px solid black;
   padding:15px;
    border-radius:10px;

    
}
.accent1,.H1, .H2, .H3, .H4, .Hover{
    background-color:#ffffff;
    padding:15px;
    border-radius:10px;
    border: 2px solid black;
}
.accent2{
    background-color:#000000;
    color:white;
    padding:15px;
    border-radius:10px;
}

.colors{
    width:100%;
    text-align: center;
    
}
